@import 'tailwindcss';
@import 'tw-animate-css';

:root {
	--font-onest: 'Onest';
	--background: #ffffff;
	--foreground: #0a0a0a;
	--card: #ffffff;
	--card-foreground: #0a0a0a;
	--popover: #ffffff;
	--popover-foreground: #0a0a0a;

	/* Первичные цвета */
	--primary: #02619b;
	--primary-foreground: #fff;

	/* Вторичные цвета */
	--secondary: #382f2a;
	--secondary-foreground: #f9f5e4;

	/* Приглушенные цвета */
	--muted: #fafafa;
	--muted-foreground: #919191;

	/* Акцентные цвета */
	--accent: #fff;
	--accent-foreground: #02619b;

	/* Деструктивные цвета */
	--destructive: #ef4444;
	--destructive-foreground: #fff;

	/* Границы */
	--border: #eaeaea;
	--input: #eaeaea;
	--ring: #02619b;

	/* Радиус скругления */
	--radius: 0.5rem;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--font-sans: var(--font-onest), ui-sans-serif, system-ui, sans-serif;
	--font-mono: var(--font-onest), ui-monospace, SFMono-Regular, monospace;

	--breakpoint-2xs: 480px;
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--background: #ffffff;
		--foreground: #171717;
	}
} */

html {
	scroll-behavior: smooth;
}
body {
	background: var(--border);
	color: var(--foreground);
	font-family: var(--font-mono);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@utility container {
	padding-inline: 16px;
	margin-inline: auto;

	@variant sm {
		padding-inline: 24px;
	}

	@variant lg {
		padding-inline: 40px;
	}

	@variant xl {
		padding-inline: 120px;
	}
}

.scrollbar-hide {
	-ms-overflow-style: none; /* IE и Edge */
	scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

.scrollbar-gutter {
	scrollbar-gutter: stable;
}
